<head>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>OSS Platform</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">OSSP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/streamers">Streamers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/following">Following</a>
            </li>

        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
        <% if(!currentUser)  {%>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/register">Sign Up</a>
            </li>
        </ul>
        <% } else if(currentUser) { %>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><%=currentUser.username%></a>
            </li>
        </ul>
        <% } %>

    </div>
</nav>